@media screen and (max-width: 1024px) {
    .images img{
        width: 31.65vw;
    }
    
    .photo{
        height: calc(fit-content) !important;
    }
    .description{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-left: 4vw !important;
        padding-right: 4vw !important;
        padding: 0 1vw ;
    }
}
@media screen and (max-width: 425px) {
    h2,h3,h4{
        font-size: medium;
    }
    h5{
        font-size: small;
    }
    p{
        font-size: x-small;
    }
    .container1,
    .container2,
    .container3{
        grid-template-columns: 1fr;
    }
    .container-g{
        width: 90%;
    }
    footer{
        padding-top: 1vw;
    }
}
@media screen and (max-width: 320px) {
    h2,h3,h4{
        font-size: small;
    }
    h5{
        font-size: smaller;
    }
}